---
import { urlForImage } from '../../lib/urlForImage'
import Button from '../Button.astro'
const { title, images, cards } = Astro.props
---

<section class="three-card-image-section">
	<div class="wrapper">
		<div class="top">
			<div class="left">
				<h4>{title}</h4>
			</div>
			<div class="right">
				<img src={urlForImage(images[0]).format('webp').url()} alt={images[0].alt} />
			</div>
		</div>
		<img src={urlForImage(images[1]).format('webp').url()} alt={images[1].alt} />

		<img src={urlForImage(images[2]).format('webp').url()} alt={images[2].alt} />
		<div class="grid">
			{
				cards.map((card) => (
					<div class="card">
						<h3>{card.title}</h3>
						<p>{card.text}</p>
						<Button text="Contact us" variant="black" to="#contact" />
					</div>
				))
			}
		</div>
	</div>
</section>
<script>
	import { gsap } from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'
	gsap.registerPlugin(ScrollTrigger)

	gsap.to('.three-card-image-section img', {
		scrollTrigger: {
			trigger: '.three-card-image-section img',
			start: 'top 80%',
			toggleActions: 'play none none reverse'
		},
		clipPath: 'polygon(0 0, 100% 0, 100% 100%, 0% 100%)',
		ease: 'power1.inOut',
		stagger: 0.2
	})
	gsap.to('.three-card-image-section h4', {
		scrollTrigger: {
			trigger: '.three-card-image-section h4',
			start: 'top 80%',
			toggleActions: 'play none none reverse'
		},
		y: 0,
		opacity: 1,
		ease: 'power1.inOut',
		stagger: 0.2
	})
	gsap.to('.three-card-image-section .card', {
		scrollTrigger: {
			trigger: '.three-card-image-section .card',
			start: 'top 80%',
			toggleActions: 'play none none reverse'
		},
		x: 0,
		opacity: 1,
		ease: 'power1.inOut',
		stagger: 0.2
	})
</script>

<style lang="scss">
	.three-card-image-section {
		.wrapper {
			.top {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.left {
					width: 50%;
					h4 {
						color: $black;
						max-width: 34ch;
						margin-inline-start: auto;
						transform: translateY(4rem);
						opacity: 0;
					}
				}
				.right {
					width: clamp(150px, 20vw, 200px);

					img {
						clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
					}
				}
			}
			& > img {
				clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);

				&:nth-of-type(1) {
					width: 200px;
					display: block;
					margin-inline: auto;
					margin-block: 8rem;
				}
				&:nth-of-type(2) {
					max-width: 460px;
					width: 100%;
					display: block;
					margin-inline-start: auto;
					margin-inline-end: -4rem;
					margin-block: 4rem;
				}
			}
			.grid {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
				gap: 4rem;

				.card {
					transform: translateX(-4rem);
					opacity: 0;
					h3 {
						max-width: 11ch;
					}
					p {
						color: $black;
						margin-block: 1.5rem 2.5rem;
						max-width: 32ch;
					}
				}
			}
		}
		@media (max-width: 700px) {
			.wrapper {
				& > img {
					&:nth-of-type(2) {
						margin-inline-end: -2rem;
					}
				}
			}
		}
		@media (max-width: 500px) {
			.wrapper {
				& > img {
					&:nth-of-type(2) {
						margin-inline-end: -1rem;
					}
				}
			}
		}
	}
</style>
